body{
	margin-right: 20%;
	margin-left: 20%;
}
img{
	margin-right: 40%;
		height: 100px;
}
#info{
	margin-top: 10%;
}
a:link, a:visited{
	text-decoration: none;
	display: inline-block;
	color: #999999;
	background-color: #ffffff;
	width: 11%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	text-align: center;
	margin-left: 2%;
	margin-right: 2%;
}
a:hover, a:active {
	color: #ffffff;
    background-color: #999999;
}
#footer{
	position: fixed;
	width: 60%;
	bottom: 4%;
	
}

.navbar{
	padding-top: 2.5%;
}

li{
	display: inline;
}